
:root{
  background-color:#ecdfc3;

  --color-backGround:#ecdfc3;
  --color-Button:#ceb88a;
  --color-Button-right:#bba678;;
  --color-border:#b9a67c;
  --color-font:#534423;
}
body{
  text-align:center;
}

.title{
  font-size:30px;
  letter-spacing:5px;
  color:var(--color-font);
}
.enterBase{
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  max-width: 200px;
  min-width:100px;
  text-align:center;
}
.enter{
  padding:10px;
  text-align:center;
  border-radius:10px;
  background-color:var(--color-Button);
  border:2px groove var(--color-border);
}
a .enter:hover{
  background-color:var(--color-Button-right);
}
a{
  text-decoration:none;
  color:var(--color-font);
}
